.food-item{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    animation: fadeIn 1s;
    transition: 0.4s;
}

.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: auto;
    object-fit: cover;
}

.food-item-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 15px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.food-item-name-rating p{
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.food-item-name-rating img{
    width: 70px;
}

.food-item-desc{
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;           /* Establish a flexbox container */
    -webkit-box-orient: vertical;   /* Specify vertical orientation */
    -webkit-line-clamp: 2;          /* Limit the text to 3 lines */
    overflow: hidden;               /* Hide overflowing content */
    text-overflow: ellipsis; 
}

.food-item-price{
    color: var(--light-green-color);
    font-weight: 600;
    font-size: 20px;
}

.food-item-img-container{
    position: relative;
    width: 100%;
}

.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter{
    background-color: #fff;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 6px; 
    border-radius: 50px;
}

.food-item-counter img{
    width: 30px;
}

@media (max-width: 980px){
    .food-item-name-rating p{
        font-size: 18px;
    }
    .food-item-name-rating img{
        width: 55px;
    }
}

@media (max-width: 850px){
    .food-item-name-rating{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: -10px;
    }
    .food-item-name-rating p{
        font-size: 20px;
    }
    .food-item-name-rating img{
        width: 70px;
    }
    .food-item-counter{
        padding: 5px; 
        border-radius: 50px;
    }
    
    .food-item-counter img{
        width: 25px;
    }
}

@media (max-width: 450px) {
    .food-item{
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }

    .food-item-image{
        width: 100%;
        object-fit: cover;
    }

    .food-item-info{
        gap: 4px;
        margin-top: 5px;
        padding: 0;
        width: 50%;
    }
    
    .food-item-name-rating{
        display: flex;
        gap: 4px;
        justify-content: space-between;
        align-items: first baseline;
    }
    
    .food-item-name-rating p{
        font-weight: 500;
        font-size: 18px;
    }
    
    .food-item-name-rating img{
        width: 50px;
    }
    
    .food-item-desc{
        font-size: 12px;
    }
    
    .food-item-price{
        font-size: 15px;
    }

    .food-item-img-container{
        width: 40%;
        position: relative;
    }

    .food-item-img-container .add{
        width: 25px;
        bottom: 10px;
        right: 10px;
    }

    .food-item-counter{
        bottom: 10px;
        right: 10px;
        gap:5px;
        padding: 2px 5px; 
    }

    .food-item-counter p{
        font-size: 8px;
    }
    
    .food-item-counter img{
        width: 15px;
    }

}

