
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
    /* position: fixed; */
}

.navbar .logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}

.logo .bx{
    font-size: 30px;
    color: var(--green-color);
}

.navbar-menu{
    display: flex;
    column-gap: 0.5rem;
    cursor: pointer;
    font-size: 17px
}

.navbar-menu a{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
     padding: 0.5rem 1rem;
}

.navbar-menu a:hover {
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-right img{
    height: 25px;
}


.sign-in{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.sign-in:hover{
    background-color: orange;
    border: none;
}

.navbar .active{
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

.navbar-basket{
    position: relative;
}

.navbar-basket .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-profile{
    position: relative;
    cursor: pointer;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff2ef;
    padding: 14px 35px 15px 15px;
    border-radius: 4px;
    outline: 2px soild white;
    list-style: none;
    border: 5px soild red;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-top: 1px;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
 
.nav-profile-dropdown img{
    width: 25px;
}

.nav-profile-dropdown li:hover{
    color: var(--green-color);
}

@media (max-width: 1150px) {
    .navbar{
        padding: 18px 40px;
    }
    .navbar .logo{
        font-size: 1.8rem;
    }

    .navbar-menu{
        font-size: 17px;
        gap: 20px;
    }

    .navbar-right{
        gap: 25px;
    }

    .navbar-right img{
        height: 22px;
    }
    .sign-in{
        padding: 6px 20px;
        font-size: 15px;
        border-radius: 5px soild red;
    }
}

@media (max-width: 950px) {
    .navbar .logo{
        font-size: 1.5rem;
    }

    .navbar-menu{
        font-size: 16px;
        gap: 15px;
    }

    .navbar-right{
        gap: 20px;
    }

    .navbar-right img{
        height: 20px;
    }
    .sign-in{
        padding: 5px 15px;
        font-size: 13px;
    }
}

@media (max-width: 850px) {
    .navbar{
        padding: 10px 20px;
    }
    .navbar .logo{
        font-size: 1rem;
    }

    .navbar-menu{
        font-size: 14px;
        gap: 8px;
    }

    .navbar-right{
        gap: 15px;
    }

    .navbar-right img{
        height: 20px;
    }
    .sign-in{
        padding: 5px 15px;
        font-size: 10px;
    }
}


@media (max-width: 728px) {
    .navbar-menu{
        display: none;
    }

    .navbar-right{
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .navbar-menu{
        display: none;
    }

    .navbar-right{
        gap: 30px;
    }
}