.header{
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background-color: rgba(244, 221, 221, 0.455);
    overflow: hidden;
    padding: 4.5rem 0 0.5rem;
}

.header img{
    width: 450px;
    position: absolute;
    right: 10rem;
}

.header-contents{
    padding: 0 150px;
}

.header-contents span{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
    font-size: 1.3rem;
}

.header-contents h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.btn{
    padding: 0.4rem 1rem;
    background: var(--green-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    max-width: 170px;
}

.btn .bx{
    color: var(--bg-color);
    border-radius: 1rem;
    font-size: 30px;
}

.btn:hover{
    background: var(--light-orange-color);
    transition: 0.2s ease;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--text-color);
}

@media (max-width: 1150px){
    .header-contents{
        padding: 0 120px;
    }

    .header-contents span{
        font-size: 1rem;
    }
    
    .header-contents h1{
        font-size: 2.8rem;
    }

    .header img{
        width: 400px;
    }
}


@media (max-width: 1050px){
    .header{
        padding: 2rem 0.5rem;
    }
    .header-contents{
        padding: 0 100px;
    }

    .header-contents span{
        font-size: 1rem;
    }

    .btn{
        padding: 0.4rem 1.2rem;
        max-width: 150px;
    }

    .header img{
        width: 250px;
        right: 100px;
    }
}

@media (max-width: 850px){
    .header{
        padding: 1.5rem 0rem;
    }
    .header-contents{
        padding: 0 70px;
    }

    .header-contents span{
        font-size: 1rem;
    }

    .header-contents h1{
        font-size: 2.4rem;
    }

    .btn{
        padding: 0.4rem 1rem;
        max-width: 150px;
    }

    .header img{
        width: 250px;
    }
}

@media (max-width: 700px){

    .header-contents span{
        font-size: 2rem;
    }

    .header-contents h1{
        font-size: 3.4rem;
    }

    .header img{
        display: none;
    }
}

@media (max-width: 550px){

    .header{
        min-height: 300px;
        padding: 3rem 0 0.5rem;
    }

    .header-contents{
        padding: 0 30px;
    }

    .header-contents span{
        font-size: 1rem;
    }

    .header-contents h1{
        font-size: 1.5rem;
    }

    
    .header img{
        display: block;
        width: 150px;
        right: 20px;
    }

    .btn{
        padding: 0.1rem 0.8rem;
        max-width: 100px;
        font-size: 10px;
    }

    .btn i{
        width: 20px;
    }
}