.explore-menu{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.explore-menu-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.explore-menu h1{
    font-size: 50px;
    text-align: center;
    color: var(--light-green-color);
}

.explore-menu-text{
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}

.small-screen-text{
    display: none;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}


.explore-menu-list-item{
    width: 9vw;
    min-width: 150px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
    text-align: center;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active{
   border: 4px solid var(--green-color);
   padding: 2px;
   border-radius: 50%;
}

@media (max-width: 1050px){
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
    
}

@media (max-width: 850px){
    .explore-menu-text{
        font-size: 12px;
        line-height: 20px;
    }
    
    .explore-menu-list{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    
    .explore-menu-list-item{
        min-width: 120px;
    }
    
    .explore-menu-list-item p{
        color: var(--medium-green-color);
    }
    
}

@media (max-width: 550px){
    .explore-menu-text{
        display: none;
    }
    
    .small-screen-text{
        display: block;
        text-align: center;
    }

    .explore-menu-list-item{
        min-width: 100px;
    }
    
}


@media (max-width: 400px){

    .explore-menu{
        gap: 10px;
        width: 95%;
    }
    .small-screen-text{
        font-size: 12px;
    }

    .explore-menu-list{
        gap: 10px;
    }

    .explore-menu-list-item{
        min-width: 75px;
    }
    
    .explore-menu-list-item p{
        font-size: 10px;
    }

    .explore-menu h1{
        font-size: 30px;
    }
}